# more Hugo stuff
.hugo_build.lock

# OSX
.DS_Store

dsw_instructions/clone_questionnaire_2foot.html
dsw_instructions/export_questionnaire_2foot.html
dsw_instructions/get_started_questionnaire_2foot.html
dsw_instructions/migrate_questionnaire_2foot.html
dsw_instructions/blue_click_create_questionnaire.jpg
dsw_instructions/blue_click_on_questionnaire.jpg
dsw_instructions/blue_select_km_questionnaire.jpg
dsw_instructions/blue_migration_1_dialogue.jpg
dsw_instructions/blue_migration_2_dialogue.jpg
dsw_instructions/blue_template_questionnaire.jpg
dsw_instructions/blue_migration_3_dialogue.jpg
demo-nbis-checklist/dot-menu.jpg
dsw_instructions/Old/blue_click_create_questionnaire.jpg
dsw_instructions/Old/blue_click_on_questionnaire.jpg
dsw_instructions/Old/blue_migration_1_dialogue.jpg
dsw_instructions/Old/blue_migration_2_dialogue.jpg
dsw_instructions/Old/blue_migration_3_dialogue.jpg
dsw_instructions/Old/blue_select_km_questionnaire.jpg
dsw_instructions/Old/blue_template_questionnaire.jpg
dsw_instructions/Old/click_on_questionnaire.jpg
dsw_instructions/Old/clone_edit_questionnaire.jpg
dsw_instructions/Old/clone_questionnaire.jpg
dsw_instructions/Old/clone_questionnaire_2foot.html
dsw_instructions/Old/create_questionnaire.jpg
dsw_instructions/Old/export_dialogue.jpg
dsw_instructions/Old/export_questionnaire.jpg
dsw_instructions/Old/export_questionnaire_2foot.html
dsw_instructions/Old/fileFormat_questionnaire.jpg
dsw_instructions/Old/get_started_questionnaire_2foot.html
dsw_instructions/Old/menu_questionnaire.jpg
dsw_instructions/Old/migrate_questionnaire_2foot.html
dsw_instructions/Old/migration_questionnaire.jpg
dsw_instructions/Old/outdated_questionnaire.jpg
dsw_instructions/Old/template_questionnaire.jpg
