<div class="public">

    <nav class="navbar navbar-expand-sm bg-primary fixed-bottom">
      <div class="container">
        <div class="navbar-footer">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <b><a class="navbar-brand" href="{{ "/dmp-guide" | relURL }}">DMP guide:</a></b>
                    <ul class="nav navbar-nav ml-auto">        
                        <li class="nav-item">
                            <a class="navbar-brand" href="{{ "/dmp-guide/new-project" | relURL }}">Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="{{ "/dmp-guide/answer-questions" | relURL }}">Answer</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="{{ "/dmp-guide/export-project" | relURL }}">Document</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="{{ "/dmp-guide/collaborate-project" | relURL }}">Share</a>
                        </li>
                    </ul>  
                </li>            
            </ul>
        </div>
        <ul class="nav navbar-nav ml-auto">        

            <li class="nav-item">
                <b><a class="navbar-brand" href="{{ "/checklist-guide" | relURL }}">Checklist guide</a></b>
            </li>
            <li class="nav-item">
                <b><a class="navbar-brand" href="{{ "/project-templates" | relURL }}">Project templates</a></b>
            </li>
        </ul>
      </div>
    </nav>
</div>
     