<div class="public">
    <nav class="navbar navbar-expand-sm bg-primary fixed-top">
        <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/projects">
              <img src="/img/logos/dsw-logo.svg" alt="SciLifeLab DSW logo">
              Data Stewardship Wizard
            </a>
        </div>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="navbar-brand" href="/privacy">Privacy</a>
          </li>            <li class="nav-item">
            <a class="navbar-brand" href="/contact">Contact</a>
          </li>          
            <li class="nav-item">
              <a class="navbar-brand" href="/appendix"><b>Appendix</b></a>
            </li>
        </ul>
        </div>
    </nav>
</div>

    